.Navbar {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    position: absolute;
    top: 8px;
    z-index: 1;
    border-radius: 10px;
    background-color: #fff;
}

.Carousel {
    position: relative;
}

.NavControls {
    display: flex;
    gap: 10px;
}

.Navbtn {
    padding: 5px 20px;
    border: 1px solid rgb(68, 68, 68);
    background-color: aqua;
    border-radius: 45px;
    font-weight: 600;
}

.Navbtn a{
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.HomeLogo {
    font-size: 25px;
    color: rgb(68, 68, 68);
    font-weight: 700;
}

.E {
    color: aqua;
}

.navRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.navRight ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: auto 0px;
    
}

.navRight ul li a {
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-weight: 600;
}

.navRight ul li a:hover{
    color: rgb(87, 205, 255);
}

.Navbtn:hover{
    background-color:rgb(87, 207, 255);
}

.ham-menu button {
    cursor: pointer;
}

.menu-mobile{
    position: absolute;
    top: 2.8rem;
    left: 0;
    width: 100%;
    background-color: #fff;
}

/* Hamburger */
.ham-menu {
    display: none;
}

.menu-web{
    display: flex;
    gap: 12px;
}

.menu-mobile{
    display: flex;
    gap: 12px;
}

.ham-menu button{
    height: 1.7rem;
    width: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ham-menu button i {
    font-size: 20px;
}