.GoogleMapContainer {
    width: 100%;
    height: 90vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GMapHeading {
    margin-top: 12px;
    margin-bottom: 0px;
    color: #4a4e69;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: slideIn 1.2s ease-in-out;
    font-weight: 600;
}

.underline {
    width: 20vw;
    border-radius: 5px;
    border: 4px solid rgb(0, 189, 207);
}

.GoogleMap {
    margin-top: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    height: 80vh;
    border: 0;
    box-shadow: 0 6px 15px rgb(5, 94, 102);
    border-radius: 10px;
}

@media(max-width:426px){
    .underline {
        width: 58vw;
        border-radius: 5px;
        border: 3px solid rgb(0, 189, 207);
    }
    
}